@import "../../utilities/variables";

.signup-form-container {
  position: absolute;
  width: 30%;
  left: 33%;
  top: 25%;

  .signup-form {
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: 20px;

      div {
        float: left;
        margin-bottom: 5px;
      }

      .MuiTextField-root {
        width: 100%;
      }
    }

    .signup-submit-button {
      height: 35px;
      border-radius: 3px;
      border-width: 0;
      background-color: $coolpurp;
    }
  }
}
