.cocktails-list-container {
  min-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .cocktail-list {
    list-style: none;
    text-align: center;

    li {
      position: relative;
      left: -35px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}
