@import "../../utilities/variables";

.post-create-form {
  width: 60%;
  position: relative;
  top: 68px;
  height: 45vh;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0 8px 0 rgba(0, 0, 0, 0.2);

  .inputs-container {
    display: grid;
    grid-template-columns: 70%;
    grid-gap: 10%;
    justify-content: center;
    padding-top: 55px;

    .input label {
      font-family: "Roboto Condensed";
    }

    .post-submit-button {
      height: 40px;
      color: white;
      font-weight: 600;
      background-color: $coolpurp;
      font-family: "Roboto Condensed";
      letter-spacing: 2px;
    }
  }
}
