@import "../../utilities/variables";

.create-cocktail-container {
  position: relative;
  width: 33%;
  height: 100vh;
  top: 9%;
  margin: auto;

  .create-cocktail-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: auto;

    .input-name {
      text-align: left;
    }

    .cocktail-name-input {
      width: 100%;
    }

    .input-text-area {
      width: 100%;

      textarea {
        width: 100%;
        height: 100px;
        font-size: 14px;
      }
    }

    .dropdown-select {
      width: 100%;
      margin-top: 30px;
      margin-bottom: 30px;

      &.complexity {
        margin-bottom: 0;
      }
    }

    .fileContainer {
      p {
        letter-spacing: 1px;
      }
    }

    .private-cocktail-checkbox {
      width: 150px;
      position: relative;
      left: -36%;
    }

    .create-cocktail-submit-button {
      height: 40px;
      width: 45%;
      border-radius: 3px;
      border-width: 0;
      position: relative;
      margin-top: 10px;
      background-color: $coolpurp;

      input:focus {
        outline-width: 0;
      }
    }

    .invalid {
      border-width: 2px;
      border-color: red;
    }

    .help-icon {
      position: relative;
      left: 103%;
      bottom: 36px;
    }
  }
}
