@import "../../utilities/variables";

.timeline-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 60px;
  display: grid;
  grid-template-columns: 30% 40% 30%;

  .post-create-wrapper {
    margin-right: 10px;
    border-right: 1px solid lightgrey;
    padding-top: 60px;

    .post-create-form {
      position: sticky;
      top: 28%;
      left: 0;
      height: fit-content;

      .inputs-container {
        height: initial;
        padding-top: initial;
      }
    }
  }

  .timeline {
    .posts-list {
      display: grid;
      grid-gap: 20px;
      margin-top: 50px;

      .post-display {
        width: 90%;
      }
    }
  }

  .user-suggestions-wrapper {
    border-left: 1px solid lightgrey;
    padding-left: 10px;

    .inner-content {
      position: sticky;
      top: 11%;

      .header {
        margin-top: 10%;
        margin-left: 60%;
        border-bottom: 1px solid;
        width: fit-content;
      }
    }
  }
}
