@import "../../utilities/variables";

.timeline-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  width: 100vw;
  top: 45px;

  .timeline {
    position: absolute;
    top: 80px;
    width: 70vw;
    min-height: 88vh;
    padding-left: 10px;
    padding-right: 10px;
    overflow: scroll;

    .create-post-button {
      position: fixed;
      left: 10%;
      height: 40px;
      width: 130px;
      font-weight: 600;
      font-family: "Roboto Condensed";
      letter-spacing: 2px;
      text-transform: none;
    }

    .animation-container {
      position: fixed;
      width: 100%;
      z-index: 1;
    }

    .posts-list {
      position: absolute;
      top: 65px;
      width: 100%;
      display: grid;
      grid-gap: 20px;
    }
  }
}
