@import "../../utilities/variables";

.login-form-container {
  position: absolute;
  top: 25%;
  left: 33%;
  width: 30%;

  .login-form {
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: 20px;

      div {
        float: left;
        margin-bottom: 5px;
      }
    }

    .signup-submit-button {
      height: 35px;
      border-radius: 3px;
      border-width: 0;
      background-color: $coolpurp;
    }
  }
}
